* {
  z-index: 1;
}

.navcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.navwrap {
  margin: 20px;
  border-radius: 10px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.736);
  outline: solid 2px #8fdcc21a;
  width: 100%;
  transition: width 0.2s ease-in-out;
  padding-left: 10px;
  padding-right: 20px;
  box-sizing: border-box;
  color: white;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 10px 15px 6px rgba(0, 0, 0, 0.1);
  animation: navJoin 0.5s ease-out;
  display: flex;
  align-items: center;
}

:root.dark .navwrap {
  background-color: rgba(61, 61, 61, 0.649);
}
/* nav join animation */

@keyframes navJoin {
  0% {
    transform: translateY(120px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* desktop adaptation */
@media (min-aspect-ratio: 4/3) {
  .navwrap {
    width: 60%;
  }
}

@media (min-width: 500px) {
  .navcenter {
    bottom: unset;
    top: 0;
  }
  @keyframes navJoin {
    0% {
      transform: translateY(-120px);
    }
    80% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

/* logo */
.navlogo {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s linear, color 0.1s linear;
  height: 0;
  width: 0;
}

.navlogo:hover {
  background-color: rgb(216, 216, 216);
}

.navlogo.router-link-active {
  color: white;
  background: radial-gradient(at left top, #c0ce54, #dc18fa);
}

/* links */
.links {
  overflow-x: scroll;
  height: 60px;
  display: flex;
  align-items: center;
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
}

.links::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.link {
  padding: 5px;
  transition: all 0.2s;
  border-radius: 7px;
  text-align: center;
  white-space: nowrap;
}

.link:not(:first-child) {
  margin-left: 10px;
}

.link:hover {
  background-color: rgba(204, 204, 204, 0.5);
  padding-left: 10px;
  padding-right: 10px;
}

:root.dark .link:hover {
  background-color: rgba(165, 165, 165, 0.5);
}

.link.router-link-active {
  background-color: rgba(179, 179, 179, 0.567);
  padding-left: 10px;
  padding-right: 10px;
}

:root.dark .link.router-link-active {
  background-color: rgba(130, 130, 130, 0.5);
}

/* theme chooser */
.themeChooser {
  cursor: pointer;
  font-size: 20px;
  color: rgb(215, 215, 215);
  text-align: center;
  overflow: hidden;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
  width: 5%;
  min-width: 20px;
  margin-left: 10px;
}

.themeChooser:hover {
  color: rgb(185, 185, 185);
}

.themeChooser > * {
  animation: themeSwitchIn 0.6s ease-out;
}

.themeSwitchOut {
  animation: themeSwitchOut 0.6s ease-out;
}

@keyframes themeSwitchOut {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-40px) rotate(360deg);
  }
}

@keyframes themeSwitchIn {
  0% {
    transform: translateY(40px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}
