/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  @apply font-semibold;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 1em;
}

/* Links */
/* a {
  text-decoration: none;
} */

/* a:hover {
  text-decoration: underline;
} */

/* Lists */
ul,
ol {
  padding-left: 10px;
}

li {
  margin-bottom: 2px;
}

/* Code blocks */
pre,
code {
  @apply bg-neutral-900 text-neutral-100;
  border-radius: 3px;
  overflow-x: auto;
  padding: 10px;
  font-size: 14px;
}

/* Blockquotes */
blockquote {
  border-left: 5px solid #ebedef;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
}

blockquote:before {
  color: #c72527;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
