/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  margin-top: 80px;
  padding: 20px;
}

:root {
  background: linear-gradient(
    106.5deg,
    rgba(135, 114, 99, 0.91) 20%,
    rgba(132, 96, 146, 0.8) 80%
  );
}

:root.dark {
  background: linear-gradient(106.5deg, #b14e30, #752142);
}

:root::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.4s;
  content: "";
  opacity: 0;
}

:root.transitioning::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  background-color: #2f2f38;
  content: "Changing theme...";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* mobile */
@media (max-width: 500px) {
  body {
    margin-top: 0;
  }
}

/* temp */
.temptitle {
  border-left: 4px white solid;
  padding-left: 10px;
  color: white;
  font-size: 32px;
}
