.nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(15px, 4vw, 20px);
    box-sizing: border-box;
}

.nodata > p{
    font-family: "JetBrains mono";
}

.nodata > i {
    margin-right: 10px;
}