.searchbar {
  margin: 20px;
  max-width: 1024px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 1;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 7px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.525);
  box-shadow: 0px 10px 15px 6px rgba(0, 0, 0, 0.1);
  color: black;
  position: relative;
  align-items: center;
  box-sizing: border-box;
}

:root.dark .searchbar {
  background-color: rgba(61, 61, 61, 0.649);
}

.searchbar > input {
  flex: 1;
  outline: none;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  color: black;
  background: none;
  min-width: 0;
}

:root.dark .searchbar > input {
  color: white;
}

.searchbar > i {
  pointer-events: none;
}
