.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: linear-gradient(
    180deg,
    rgba(86, 224, 201, 0.664) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media (max-width: 500px) {
  .title {
    height: 20vh;
  }
}

.title > p {
  font-size: clamp(50px, 8vw, 150px);
  font-weight: bold;
  text-align: center;
  font-family: "JetBrains mono";
  position: relative;
}

.title > p::before,
.title > p::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  z-index: -1;
}

.title > p::before {
  top: 10px;
  left: 10px;
  color: #e0287d;
}

.title > p::after {
  top: 5px;
  left: 5px;
  color: #1bc7fb;
}
